<!DOCTYPE html>
<html lang='ja'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='./twittperator-sidebar.css'>
  <link rel='stylesheet' href='./fonta/css/font-awesome.min.css'>
  <script src='./vue.min.js'></script>
  <script src='./twitter-text-1.13.0.min.js'></script>
  <script src='./twemoji.min.js'></script>
  <script src='./lodash.core.min.js'></script>
  <script src='./twittperator-sidebar.js'></script>
  <title>Twittperator Sidebar</title>
</head>
<body id='twittperator-sidebar'>
  <div class='tweet {{ tweet.classes }}' v-for='tweet in tweets' v-cloak>
    <div class='content'>
      <div class='header'>
        <a class='account' href='https://twitter.com/{{ tweet.name }}' target='_blank'>
          <img class='avatar' alt='' width='48' height='48' src='{{ tweet.img }}'>
          <span class='name'>{{ tweet.name }}</span>
        </a>
        <a class='permalink' href='https://twitter.com/statuses/{{ tweet.id }}' target='_blank'>
          <span class='info'>{{ tweet.info || tweet.time }}</span>
        </a>
      </div>
      <p class='text {{ tweet.length }}'>{{{ tweet.linkedHtml }}}</p>
      <div v-if='tweet.media'>
        <i v-if='tweet.media[0].type === "video" || tweet.media[0].type === "animated_gif"' class='fa fa-play-circle fa-2x note'></i>
        <i v-if='(tweet.media[0].type === "photo") && (tweet.media.length > 1)' class='fa fa-clone fa-2x note'></i>
        <a href='{{ tweet.media[0].expanded_url }}' target='_blank'>
          <img src='{{ tweet.media[0].media_url_https }}:thumb' class='{{ tweet.media[0].type }}' v-on:mouseover='popMedia(tweet.media);'>
        </a>
      </div>
      <div class='clearfix'></div>
    </div>
  </div>
</body>
</html>
