<!DOCTYPE html>
<html lang='ja'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='./twittperator-sidebar.css'>
  <script src='./vue.min.js'></script>
  <script src='./twitter-text-1.13.0.min.js'></script>
  <script src='./twemoji.min.js'></script>
  <script src='./twittperator-sidebar.js'></script>
  <title>Twittperator Sidebar</title>
</head>
<body id='twittperator-sidebar'>
  <div class='tweet {{ tweet.classes }}' v-for='tweet in tweets' v-cloak>
    <div class='content'>
      <div class='header'>
        <a class='account' href='https://twitter.com/{{ tweet.name }}' target='_blank'>
          <img class='avatar' alt='' width='48' height='48' src='{{ tweet.img }}'>
          <span class='name'>{{ tweet.name }}</span>
        </a>
        <a class='permalink' href='https://twitter.com/statuses/{{ tweet.id }}' target='_blank'>
          <span class='info'>{{ tweet.info || tweet.time }}</span>
        </a>
      </div>
      <p class='text {{ tweet.length }}'>{{{ tweet.linkedHtml }}}</p>
      <div v-for='entity in tweet.media'>
        <a href='{{ entity.expanded_url }}' target='_blank'>
          <img src='{{ entity.media_url_https }}:thumb'>
        </a>
      </div>
      <div class='clearfix'></div>
    </div>
  </div>
</body>
</html>
